@media screen and (max-width: 800px) {
    .nav-bar {
        font-size: 12px;
        margin: 0 2%;
    }
    .nav-bar ul {
        margin-top: 100px;
        gap: 4%;
        flex-wrap: wrap;
        line-height: 200%;
    }
    .nav-bar ul li {
        margin-top: 3%;
    }
    .music {
        display: flex;
        gap: 2%;
        text-align: center;
        flex-wrap: wrap;
    }
    .music-track {
        width: calc(100% / 4 - 2%);
        margin-bottom: 4%;
    }
    .playlist .scrolling-list {
        height: 100%;
    }
    .track-title {
        font-size: 15px;
    }
    .track-subtitle, .created-for-you span, .more-popular span {
        font-size: 12px;
    }
    .upgrade-bar {
        z-index: 1;
    }
}


@media screen and (max-width: 580px) {
    .top-section {
        height: calc(100vh - 65px);
    }
    .bottom-section {
        height: 65px;
    }
    .music-track {
        width: calc(100% / 2 - 4%);
        margin: 0 auto;
        margin-bottom: 4%;
    }
    .track-title {
        font-size: 16px;
    }
    .upgrade-bar {
        font-size: 14px;
    }
    .player-left {
        margin-right: 4%;
    }
    .player-right {
        margin-left: -4%;
        margin-top: 2%;
    }
    .icons {
        display: block;
    }
    .separation-space {
        height: 10%;
    }
    .player-left img {
        width: 20%;
    }
    .player-right .time-bar {
        width: 38%;
    }
    .charging-bar {
        margin: 8% 0 -1%;
    }
    .controls {
        font-size: 25px;
    }
    .bottom-block {
        bottom:65px;
    }
}
@media screen and (max-width: 380px) {
    .side-menu {
        width: 35px;
        margin-right: 35px;
    }
    .main-page {
        margin-left: 35px;
    }
    .upgrade-bar {
        width: calc(100% - 35px);
        height: 80px;
        font-size: 9px;
        font-weight: bold;
    }
    .big-logo {
        display:none;
    }
    .small-logo {
        display:block;
    }
    .home img, .search img, .library img, .profile img {
        width: 70%;
        margin: 10%;
    }
    .download img {
        width: 60%;
        margin: 10%;
    }
    .breaking-line {
        display: none;
    }
    .home .text, .search .text, .library .text, .download .text, .profile h3 {
        display: none;
    }
    .playlist {
        display: none;
    }
    .nav-bar {
        font-size: 10px;
        margin: 0 2%;
    }
    .nav-bar ul {
        margin-top: 80px;
    }
    .nav-bar ul li {
        margin-top: 5%;
        margin-bottom: 0;
    }
    .track-title {
        font-size: 11px;
    }
    .track-subtitle, .created-for-you span, .more-popular span {
        font-size: 10px;
    }
    .bottom-section {
        gap: 10%;
    }
    .player-left img {
        width: 35%;
        object-fit: contain;
        margin: 0 10%;
    }
    .player-left .song-title {
        font-size: 10px;
    }
    .player-left .song-subtitle {
        font-size: 10px;
    }
    .icons {
        display: block;
        font-size: 14px;
    }
    .controls {
        font-size: 16px;
    }
    .passed-time {
        margin-left: -15%;
    }
    .remaining-time {
        margin-right: -15%;
    }
    .player-right {
        font-size: 10px;
        gap: 6%;
    }
}