@media screen and (max-width: 800px) {
    .nav-bar {
        font-size: 12px;
        margin: 0 2%;
    }
    .nav-bar ul {
        margin-top: 100px;
        gap: 4%;
        flex-wrap: wrap;
        line-height: 200%;
    }
    .nav-bar ul li {
        margin-top: 3%;
    }
    .music {
        display: flex;
        gap: 2%;
        text-align: center;
        flex-wrap: wrap;
    }
    .music-track {
        width: calc(100% / 4 - 2%);
        margin-bottom: 4%;
    }
    .playlist {
        height: 33%;
    }
    .playlist .scrolling-list {
        height: 100%;
    }
    .bottom-block {
        top: 76vh;
    }
    .track-title {
        font-size: 15px;
    }
    .track-subtitle, .created-for-you span, .more-popular span {
        font-size: 12px;
    }
    .upgrade-bar {
        z-index: 1;
    }
}


@media screen and (max-width: 580px) {
    .top-section {
        height: calc(100vh - 65px);
    }
    .bottom-section {
        height: 65px;
    }
    .music-track {
        width: calc(100% / 2 - 4%);
        margin: 0 auto;
        margin-bottom: 4%;
    }
    .track-title {
        font-size: 16px;
    }
    .upgrade-bar {
        font-size: 14px;
    }
    .player-left {
        margin-right: 4%;
    }
    .player-right {
        margin-left: -4%;
        margin-top: 2%;
    }
    .icons {
        display: block;
    }
    .separation-space {
        height: 10%;
    }
    .player-left img {
        width: 20%;
    }
    .player-right .time-bar {
        width: 38%;
    }
    .charging-bar {
        margin: 8% 0 -1%;
    }
    .controls {
        font-size: 25px;
    }
    .bottom-block {
        top: 79vh;
    }
}