/* PALETTE:
player: rgb(40, 40, 40)
empty bar player: rgb(90, 90, 90)
filling bar player: rgb(154, 154, 154)
nav text color: rgb(124, 126, 131)
add playlist color: rgb(163, 163, 163)
upgrade bar color: rgb(8, 11, 18)
main page color: rgb(20, 25, 34) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
.bottom-section {
    position: fixed;
    height: 85px;
    width: 100%;
    background-color:rgb(40, 40, 40);
    display: flex;
    align-items: center;
}
.top-section {
    display: flex;
    height: calc(100vh - 85px);
}
.side-menu {
    width: 200px;
    background-color: black;
    position: fixed;
    margin-right: 200px;
    height: 100vh;
    font-size: 14px;
}
.main-page {
    width: 100vw;
    background-color: rgb(20, 25, 34);
    height: fit-content;
    margin-left: 200px;
}
/******************************************************************************************
                                UPGRADE BAR
******************************************************************************************/
.upgrade-bar {
    position: fixed;
    background-color: rgba(8, 11, 18, 0.4);
    height: 100px;
    width: calc(100% - 200px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color:white
}
.upgrade-button {
    border-radius: 20px;
    padding: 10px 30px;
    border: 1px white solid;
    margin-right: 1%;
    color: white;
    text-decoration: none;
}
.upgrade-button:hover {
    margin: 0;
    font-size: 18px;
}
/******************************************************************************************
                                NAV BAR
******************************************************************************************/
.nav-bar {
    font-size: 14px;
}
.nav-bar ul {
    display: flex;
    margin-top: 130px;
    gap: 2%;
    list-style: none;
    justify-content: center;
}
.nav-bar a {
    text-decoration: none;
    color: rgb(124, 126, 131);
}
.higlight {
    background-color: greenyellow;
    height: 2px;
    width: 40%;
    margin: 0 auto;
    margin-top: 5%;
    display: none;
}
.nav-bar a:hover {
    color: white;
}
.nav-bar li:hover .higlight {
    display: block;
}
/******************************************************************************************
                                MAIN PAGE
******************************************************************************************/
.recently-played {
    margin: 5% 2%;
    color: white;
    
}
.recently-played h2 {
    margin-bottom: 3%;
}
.music {
    display: flex;
    gap: 2%;
    text-align: center;
}
.music-track {
    width: calc(100%/6 - 2%);
}
.track-image {
    position: relative;
}
.track-image img {
    width: 100%;
}
.play-track {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    align-items: center;
    display: none;
    justify-content: center;
    font-size: 60px;
    color: white;
    text-decoration: none;
}
.track-image:hover .play-track {
    display: flex;
}
.track-title {
    font-size: 16px;
    padding: 5% 0;
}
.track-subtitle, .created-for-you span, .more-popular span {
    color: rgb(124, 126, 131);
    font-size: 13px;
    font-weight: bold;
}
.created-for-you {
    margin: 5% 2%;
    color: white;
}
.created-for-you h2 {
    margin-bottom: 1%;
}
.created-for-you .music {
    margin-top: 3%;
}
.more-popular {
    margin: 5% 2%;
    color: white;
    margin-bottom: 10%;
}
.more-popular h2 {
    margin-bottom: 1%;
}
.more-popular .music {
    margin-top: 3%;
}
.more-popular .track-image img {
    border-radius: 50%;
}
.more-popular .play-track {
    border-radius: 50%;
}
/******************************************************************************************
                                SIDE MENU
******************************************************************************************/
.side-menu img {
    width: 70%;
    margin: 10%;
}
.home, .search, .library {
    color: white;
    vertical-align: middle;
    display: flex;
    align-items: center;
    gap: 2%;
    margin-bottom: 5%;
    margin-left: 5%;
    filter: opacity(0.5);
    text-decoration: none;
    
}
.home:hover, .search:hover, .library:hover {
    border-left: 3px solid greenyellow;
    filter: none;
}
.home img, .search img, .library img {
    width: 15%;
    margin: 0 0 0 5%;
}
.add-playlist {
    text-decoration: none;
    color: black;
}
.add-playlist .fa-plus {
    background-color: rgb(163, 163, 163);
    padding: 8px;
    margin-left: 10%;
}
.add-playlist span {
    color: white;
    filter: opacity(0.5);
}
.add-playlist:hover span {
    color: white;
    filter: none;
}
.add-playlist:hover .fa-plus {
    background-color: white;
}
.playlist {
    height: 58%;
}
.playlist li {
    list-style: none;
    margin: 5%;
    margin-left: 10%;
}
.playlist ul a {
    text-decoration: none;
    color: white;
    filter: opacity(0.5);
}
.playlist a:hover {
    filter: none;
}
.playlist .scrolling-list {
    height: 50%;
    overflow: auto;
}
.download {
    color: white;
    margin: 0 0 0 10%;
    display: flex;
    gap: 5%;
    filter: opacity(0.5);
    text-decoration: none;
}
.download:hover {
    filter: none;
}
.download img, .profile img {
    width: 10%;
    margin: 0;
}
.breaking-line {
    width: 80%;
    margin: 4% auto;
    background-color: gray;
    padding: 0.5px;
}
.profile {
    color: white;
    display: flex;
    gap: 5%;
    margin-left: 10%;
    align-items: center;
}
.profile img {
    background-color: rgb(163, 163, 163);
    border-radius: 50%;
    width: 12%;
    
}
.bottom-block {
    position: sticky;
    top: 83vh;
    background-color: black;
}
/******************************************************************************************
                                PLAYER LEFT
******************************************************************************************/
.player-left {
    display: flex;
    width: calc(100% / 3);
}
.player-left img {
    width: 10%;
    margin: 0 2%;
}
.player-left .song-title {
    color: white;
    font-weight: bold;
}
.player-left .song-subtitle {
    color: rgb(124, 126, 131);
    text-decoration: none;
    font-size: 13px;
}
.player-left a {
    color: rgb(124, 126, 131);
    display: flex;
    align-items: center;
    text-decoration: none;
}
.heart {
    margin-left: 20%;
    margin-right: 4%;
}
.player-left a:hover {
    color: white;
}
.song-subtitle:hover {
    text-decoration: underline;
}
/******************************************************************************************
                                PLAYER CENTER
******************************************************************************************/
.player-center {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
}
.controls {
    display: flex;
    justify-content: center;
    gap: 10%;
    font-size: 20px;
}
.controls a {
    color: white;
    text-decoration: none;
}
.controls .fa-circle-play:hover {
    font-size: 22px;
}
.charging-bar {
    display: flex;
    align-items: center;
    margin: 1% 0 -1%
}
.passed-time, .remaining-time {
    color: white;
    font-size: 10px;
}
.player-center .time-bar {
    width: 100%;
    height: 4px;
    background-color: rgb(90, 90, 90);
    margin: 0 5%;
    border-radius: 5px;
}
.player-center .fill {
    height: 100%;
    width: 30%;
    background-color: rgb(154, 154, 154);
    border-radius: 5px;
}
/******************************************************************************************
                                PLAYER RIGHT
******************************************************************************************/
.player-right {
    width: calc(100% / 3);
    display: flex;
    gap: 3%;
    justify-content: flex-end;
    align-items: center;
}
.player-right a {
    color: white;
    text-decoration: none;
}
.player-right .time-bar {
    width: 20%;
    height: 4px;
    background-color: rgb(90, 90, 90);
    margin: 0;
    margin-right: 5%;
    border-radius: 5px;
}
.player-right .fill {
    height: 100%;
    width: 20%;
    background-color: rgb(154, 154, 154);
    border-radius: 5px;
}
.fill:hover {
    background-color: greenyellow;
    cursor: pointer;
}
.fill {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.fill .fa-circle {
    display: none;
    color: white;
    font-size: 10px;
}
.fill:hover .fa-circle {
    display: block;
}